<div *ngIf="bwit && user" class="bwit">
  <img src="{{ bwit.author.profile_pic }}" alt="avatar" class="avatar" />
  <time class="bwit-time">{{ bwit.created_at | date:'longDate':'+06':'ru-KZ' }}</time>
  <div class="push">

    <div class="user">
      <div class="user-string">
        <span class="name">{{ bwit.author.nickname }}</span>
        <span class="username">@{{ bwit.author.username }}</span>
      </div>
    </div>

    <blockquote class="body" [innerHTML]="bwit.body | tag"></blockquote>

    <ng-container *ngIf="bwit.picture">
      <img class="bwit-picture" [src]="bwit.picture" alt="Картинка">
    </ng-container>


    <div class="icons">
      <a class="icon comment" [routerLink]="['/bwit/comment', bwit.id]">
        <i class="fa fa-comment"></i>
        <div class="icon-number"> {{ bwit.bwit_comments.length }}</div>
      </a>
      <div class="icon heart">
        <i class="fa fa-heart" (click)="pressLike($event)"></i>
        <div class="icon-number"> {{ bwit.bwit_likes.length }}</div>
      </div>
      <div class="icon trash" *ngIf="user.id === bwit.author.id">
        <i class="fa fa-trash" (click)="delete()"></i>
      </div>
    </div>

  </div>
</div>
