<div *ngIf="user" class="rightcontainer">
  <div class="posttweetcontainer">
    <img class="posttweetprofimg" src="{{ user.profile_pic }}">
    <div class="ml56px">
      <textarea [(ngModel)]="body" #text name="body" class="posttweettacontainer" placeholder="Что нового?"></textarea>
      <small *ngIf="body.length > 20 || submitted" id="passwordHelpBlock" class="form-text text-muted">
        Бвит не может содержать больше 20 букв. Хочешь больше - плати!
      </small>
      <img class="preview" *ngIf="picture" [src]="preivew" alt="">
      <div class="posttweetbutcont">
        <label class="fileContainer">
          <i class="fa fa-image"></i>
          <input type="file" (change)="onFileChange($event)" #fileInput
          accept="image/jpeg,image/jpg,image/png" />
        </label>
        <button type="submit" id="posttweetbut" class="posttweetbut" (click)="submit()">Бвитнуть</button>
      </div>
    </div>
  </div>
</div>
