  <div class="wrapper">
    <div class="card">
      <div class="card__header">
        <img class="image" src="assets/wallpaper/default.jpg" alt="">
      </div>
      <div class="">
        <img class="image card__image card__image-geoff " src="{{ user.profile_pic }}" alt="">
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse inline" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="[{outlets: {userPage: 'bwits'}}]">
                <span class="details__text">Bwits</span>
                <span class="details__number">123</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="[{outlets: {userPage: 'following'}}]">
                <span class="details__text">Читаемые</span>
                <span class="details__number">123</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="[{outlets: {userPage: 'followers'}}]">
                <span class="details__text">Читатели</span>
                <span class="details__number">123</span>
              </a>
            </li>
          </ul>
        </div>
        <form class="form-inline">
          <button type="button" class="btn btn-outline-dark round">{{ mode }}</button>
        </form>
      </nav>
    </div>
  </div>
