@font-face {
  font-family: HelviticaMediuim;
  src: url(assets/fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.otf);
}

@font-face {
  font-family: HelviticaLight;
  src: url(assets/fonts/Helvetica_Neue/HelveticaNeueCyr-Light.otf);
}

@font-face {
  font-family: HelviticaThin;
  src: url(assets/fonts/Helvetica_Neue/HelveticaNeueCyr-Thin.otf);
}

@font-face {
  font-family: HelviticaBold;
  src: url(assets/fonts/Helvetica_Neue/HelveticaNeueCyr-Bold.otf);
}
