@import "./fonts.scss";

:root {
  --font-light: HelviticaLight, Helvetica, Arial, sans-serif;
  --font-bold: HelviticaBold, Helvetica, Arial, sans-serif;
  --font-thin: HelviticaThin, Helvetica, Arial, sans-serif;
  --font-medium: HelviticaMediuim, Helvetica, Arial, sans-serif;
  --brand-color: #1DA1F2;
  --text-color: #14171A;
  --accent-color: #657786;
  --accent-light-color: #AAB8C2;
  --accent-extra-light-color: #E1E8ED;
  --accent-extra-extra-light-color: #F5F8FA;
  --color-heart: pink;
  --color-comment: green;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-light) !important;
  padding: 0;
  background: var(--accent-extra-light-color);
  box-sizing: border-box;
}
