
.custom-link {
  display:flex;
  padding:10px;
  font-size:20px;
  align-items: center;
  vertical-align: baseline;
  text-transform: uppercase;
  span {
    display: block;
    margin-right:10px;
  }
}
