  <div class="card">
    <img class="image" src="assets/wallpaper/default.jpg" alt="">
    <div class="">
      <img class="image card__image card__image-geoff " src="{{ user.profile_pic }}" alt="">
    </div>
    <button type="button" class="btn btn-secondary btn-sm custom" (click)="follow()">{{mode}}</button>
    <div class="info">
      <div class="name bold">
        {{ user.nickname }}
      </div>
      <div class="name thin">
        {{ user.username }}
      </div>
      <div class="status">
        {{ user.status }}
      </div>
    </div>
  </div>

