// .name {
//     font-family: var(--font-bold) !important;
//     font-size: 1.5em;
// }
// .username {
//     font-family: var(--font-thin) !important;
//     font-size: 1em;
// }
// .status {
//     font-family: var(--font-light) !important;
//     font-size: 1em;
// }
// .joined{
//     display:flex;
//     flex-direction: row;
//     font-family: var(--font-thin) !important;
//     font-size: 1em;
// }

.bold {
  font-family: var(--font-bold) !important;
  font-size: 1.5em;
}

.thin {
  font-family: var(--font-thin) !important;
}

.info {
  border: 1px;
  width: 40%;
  height: auto;
  background-color: #E6ECEF;
  font-family: var(--font-light) !important;
  font-size: 1em;
  padding-left: 10px;
  div {
    display: flex;
    margin-bottom: 15px;

    &:nth-child(1) {
      margin-bottom: 0px;
    }
    &:last-child{
      margin-bottom: 20px;
    }
  }

}
.name{
  margin: 0px;
}
.image {
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
}
